[Unit]
Description=Transparent DNS SOCKS Proxy

[Service]
Type=simple
ExecStart=/usr/sbin/dns_proxy /etc/dns_proxy/dns_proxy.conf
User=nobody

[Install]
WantedBy=multi-user.target

